.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-field {
    margin-bottom: 5px;
}

.label-pass {
    margin-top: 20px;
}

.input-field {
    width: 160px;
    height: 32px;

    background: #3A3A3A;
    color: #FFFFFF;

    border: 1px solid #3A3A3A;
    padding: 8px;
}

.input-field:focus {
    outline: none;
}

.submit-button {
    width: 168px;
    height: 30px;

    background: #2E2E2E;
    color: #FFFFFF;

    border-radius: 6px;
    border: none;

    margin-top: 15px;

    transition-duration: 0.5s;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #FFFFFF;
    color: #000000;
}
